.show_books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;

}


.book_description {
  max-height: 97px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  /* Adjust the number of lines as needed */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}


.search_books {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search_books input {
  width: 300px;
  padding: 10px 40px 10px 15px;
  border: 2px solid #007bff;
  border-radius: 25px;
  font-size: 16px;
  background-color: #f8f9fa;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease-in-out;
  background-image: url('https://cdn-icons-png.flaticon.com/512/10629/10629681.png');
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 20px;
}

.search_books input:focus {
  border-color: #0056b3;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.search_books input::placeholder {
  color: #777;
  font-style: italic;
}


.book_box {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 20px;
  gap: 10px;
  width: 30%;
  justify-content:space-between;
  align-items: center;
  min-width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid black;
  height: auto;
}

.box_img img {
  width: 120px;
  /* Fixed width for the image */
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.book_details {
  width: 100%;
 
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  border-left: 1px solid black;
  padding-left: 10px;
}
.main_show_book_img{
  width: 200px;
  height: 180px;
}
.book_title {
  font-size: 18px;
  font-weight: bold;
  color: #3f51b5;
  /* Primary blue */
  margin: 0;
}

.book_author,
.book_description,
.book_quantity {
  font-size: 14px;
  color: #000000cc;
  /* Medium gray text */
  margin: 0;
}

.book_description {
  color: #00000097;
  font-size: 13px;

}

.book_author {
  font-weight: bold;
}

.book_description {
  font-style: italic;
}

.book_quantity {
  color: #ffffff;
  /* Green color for quantity */
  font-weight: bold;
}

button {
  background-color: #3f51b5;
  /* Primary blue */
  color: #ffffff;
  /* White text */
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.book_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

.box_img {
  width: 120px;

  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}